ion-content {
  --background: #f9fafb;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.cart-btn-wrapper {
  position: relative;
  display: inline-flex;

  .cart-badge {
    position: absolute;
    top: 4px;
    right: 2px;
    font-size: 10px;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    pointer-events: none;
  }
}


.chips-vertical-carousel {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 4px;
  text-wrap: nowrap;
}


.product-card-image {
  width: 100%;
  height: auto;
}

ion-card {
  border-radius: 20px;
}

.item-name {
  font-weight: bold;
  color: #1f2937;
}


.rating-container {
  display: flex;
  gap: 5px;
}

.action-button {
  margin: 20px;
}

.price-title{
  font-size: 1.5rem;
  color: #1f2937;
}
